# Preparación del notebook

In [ ]:
import warnings

warnings.filterwarnings("ignore")

In [ ]:
# Importar librerias necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression

%matplotlib inline

# Regresión Lineal

**Caso de estudio**

La industria automovilística es extremadamente competitiva. Con el aumento de los precios del combustible y los consumidores exigentes, los fabricantes de automóviles optimizan constantemente sus procesos para aumentar la eficiencia del combustible. Pero, ¿qué pasaría si se pudiera disponer de un estimador fiable de las millas por galón (mpg) de un coche a partir de algunas especificaciones conocidas sobre el automóvil?

Dispone de un conjunto de datos de características de automóviles de diferentes modelos y marcas. A continuación se detallan las variables disponibles:

* mpg: millas por galón. Esta es la cantidad de combustible consumido por el vehículo particular de una instancia.
* cylinders: Este atributo describe el número de cilindros de cada automóvil
* displacement: Describe la cilindrada del motor
* Horsepower: Potencia de un automóvil
* Weight: Peso de cada automóvil
* Acceleration: Aceleración de automóvil
* Model Year: El año en que se lanzó el modelo de automóvil
* Origin: País de fabricación del automóvil
* Car Name: Nombre del automóvil

Documentación del modelo: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [ ]:
# Lectura de los datos

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

## Exploración de los datos

In [ ]:
# Tamaño del dataset

In [ ]:
# Información general del dataset

In [ ]:
# Exploración de los datos

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [ ]:
# Preparación inicial de los datos

,target,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1
2,18.0,8,318.0,150.0,3436,11.0,70,1


## Marco de validación

In [ ]:
# Separación de los datos de entrenamiento y validación

## Regresión Lineal Simple

La regresión lineal simple tiene solo 1 variable predictora y 1 variable dependiente. A partir del conjunto de datos anterior, consideremos el efecto de los caballos de fuerza en el 'mpg' del vehículo.

In [ ]:
# Excluimos los valores nulos de la columna horsepower

In [ ]:
# Miremos la relación entre la variable objetivo y los caballos de fuerza

In [ ]:
# Separemos la variable de entrada de la variable objetivo

In [ ]:
# Se usa la función LinearRegresion() para
# estimar el modelo de regresión lineal.

# Crea el modelo


# Calibra el modelo


# Imprime los coeficientes


# Imprime el intercepto

In [ ]:
# Pronostico para los datos de entrenamiento

In [ ]:
# Miremos como se ajusta el modelo a los datos

## Evaluación del modelo de regresión lineal

In [ ]:
# MSE


# RMSE


#MAE


#MAPE


# R2


# R2-adjusted

## Regresion Lineal Multiple

**Ejercicio**

Realice nuevamente el entrenamiento del modelo de regresión lineal utilizando las variables: horsepower, displacement, weight como características